{% extends '../layouts/application.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-10">
    <h1>Webpages</h1>
  </div>
  <div class="col-md-2">
    <a class="btn btn-default" href="/webpages/new" role="button">New webpage</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <table class="table">
      <thead>
        <tr>
          <th>URL</th>
          <th>Entities</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for webpage in webpages %}
          <tr>
            <td>{{ { string: webpage.url, at: 50 }|truncate }}</td>
            <td>{{ webpage.entities.length }}</td>
            <td>
              <p><a class="btn btn-default" href="/webpages/{{ webpage._id.toString() }}/edit">Edit</a></p>
              <p>
                <form action="/webpages/destroy" method="POST">
                  <input type="hidden" value="{{ webpage._id.toString() }}" name="webpage_id">
                  <button type="submit" class="btn btn-default">Delete</button>
                </form>
              </p>
              <p>
                <form action="/webpages/reget" method="POST">
                  <input type="hidden" value="{{ webpage._id.toString() }}" name="webpage_id">
                  <button type="submit" class="btn btn-default">Reget</button>
                </form>
              </p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
